<!DOCTYPE html>
<html>
<head lang="en">
    <title>Fast messenger</title>
    <link href="{{ STATIC_URL }}bs/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    {% block styles %}{% endblock %}
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png"/>
</head>
<body>
    <div class="container">

        <div class="row">

            <div class="col-xs-12 text-left">

                <form class="form-horizontal sistema-form-default" role="form" action="{{ url_action }}" method="{{ method }}" id="main_form" name="main_form">{% csrf_token %}

                    <div class="form-group">

                        <h1>Preencha o dados abaixo e clique em enviar</h1>

                        <form class="form-horizontal sistema-form-default" role="form" action="{{ send_now }}" method="{{ method }}" id="main_form" name="main_form">{% csrf_token %}

                            <p>To: <input type="text" maxlength="50" name="to" class="medium" value="Andre Pereira" /></p>
                            <p>Text: <input type="text" maxlength="80" name="message" class="bigbig" value="Message " /></p>
                            <p>Registration ID: <input type="text" name="regid" class="big" value="APA91bGFtdkf9DeJOWz-7gT1LvlH6Sev6aTV3py_0ZZpEPgLBi194h8D4GVuWPcMOBXtDgHQZG2JaWY9zbnTzZ_aPOF4e0R_WdKTQIau31rE-h7b__ZZNYs2Hw1z_AIm8hSTFGy4pcm5Z4IXj3efk1W2Cx1WLcuC9z5jl-sGd-SfsKoRrwzD86E" /></p>
                            <input type="hidden" name="fromRegId" value="" /></p>

                            <label></label>
                            <button type="submit" value="Send" name="send" id="send">Send</button>

                        </form>


                    </div>

                </form>

            </div>

        </div>
    </div>

</body>
</html>