
.sistema-form-default .small {
    width: 125px;
}
.sistema-form-default .medium {
    width: 225px;
}
.sistema-form-default .large{
    width: 325px;
}
.sistema-form-default .big{
    width: 425px;
}
.sistema-form-default .bigbig{
    width: 550px;
}